# ESP-IDF build/generated
build/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old

# Firmware artifacts
*.bin
*.elf
*.map
*.hex
*.uf2

*.zip
tree.txt

# Python / virtual env
.venv/
venv/
__pycache__/
*.pyc

# IDE/cache
.vscode/ipch/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets / credentials
.env
*.pem
*.key
*.crt
*.p12
